
.banner-heading {
    color: var(--Dark-01, #1C1C1C);

}

.banner-description {
  
    color: var(--Dark-03, #777);
}
.description{
    color: var(--Dark-03, #777);
    font-size: 14px;
}
.fa-angle-right{
    padding-left: 100px;
    color:green;
    
   

}
